html, body, #container {
	height: 100%;
}

h1 {
	margin-bottom: 21px;
}

input:invalid {
	border-color: darkred;
}

#wrapper {
	min-height: 100%;
}

#maincontent {
	overflow:auto;
	padding-bottom: 125px;
	padding-top: 20px;
}

#header {
	background-color: #262626;
	color: lightgrey;
}

#footer {
	position: relative;
	margin-top: -115px;
	height: 55px;
	clear:both;
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    padding: 19px;
}

#footer {
}

.footer-note {
	text-align: center;
	font-size: 0.8em;
}

.footer-note p{
	margin-bottom: 2px;
}

#search_form, #search_form input {
	margin-bottom: 0px;
}

#content {
	min-height: 500px;
}

fieldset.margined * {
	margin-left: 30px;
}

fieldset.margined {
	margin-bottom: 20px;
}

.entity-table-container header div:first-child {
	float: left;
}

.entity-table-container header div:last-child {
	float: right;
}

.button-list {
	border-top: 1px solid #E5E5E5;
    padding-top: 20px;
    text-align: right;
}
