html, body, #container {
	height: 100%;
}

h1 {
	margin-bottom: 21px;
}

.left {
	float: left;
}

.right {
	float: right;
}

input:invalid {
	border-color: darkred;
}

input:disabled {
	background-color: #EEE !important;
	color: gray;
}

#wrapper {
	min-height: 100%;
}

#maincontent {
	overflow:auto;
	padding-bottom: 125px;
	padding-top: 20px;
}

#header {
	background-color: #025A86;
	border-bottom: solid 1px #025A86;
	color: lightgrey;
}

#menu {
	width: 200px;
	float: left;
}

#content {
	width: 660px;
	float: left;
	margin-left: 20px;
}

#footer {
	position: relative;
	margin-top: -115px;
	height: 55px;
	clear:both;
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    padding: 19px;
}

.footer-note {
	text-align: center;
	font-size: 0.8em;
}

.footer-note p{
	margin-bottom: 2px;
}

#search_form, #search_form input {
	margin-bottom: 0px;
}

#content {
	min-height: 500px;
}

fieldset.margined {
	margin-left: 30px;
	margin-bottom: 20px;
}

div.form-row {
	margin-bottom: 6px;
}

.entity-show-data {
	margin-top: 20px;
}

.entity-formdelete {
	margin-bottom: 0;
}

.entity-table-container header div:first-child {
	float: left;
}

.entity-table-container header div:last-child {
	float: right;
}

.button-list {
	border-top: 1px solid #E5E5E5;
    padding-top: 20px;
    text-align: right;
}

.pager .pagedisplay {
	border-radius: 7px;
	font-weight: bold;
}

.pager label {
	display: inline;
	vertical-align:	text-bottom;
}

.pager .pagecontrol {
	margin-top: 10px;
}

.pager > .pagecontrol > div {
	display: inline;
}

.pager > .pagecontrol > div:last-child {
	margin-left: 10px;
}


/*.pager a {
	border-radius: 7px;
	color: #555;
	transition: color 0.5s ease-in 0s;
}

.pager a:hover, .pager a.pagedisplay {
	color: #333;
}*/

.with-last-button tr td:last-child > * {
	visibility: hidden;
}

.with-last-button thead tr th:last-child {
	visibility: hidden;
}

.with-last-button tr:hover td:last-child > * {
	visibility: visible;
}
