body{
    background-color:#283442;
    font-family: "Arial", serif;
    color: #FFF;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p{
}

h1{
}

h2{
}

.banner{
}

.container1{
    float: left;
    padding-bottom: 0px;
    width: 100%;
}

.container2{
    float: left;
    overflow: hidden;
    width: 100%;
}

.menu{
    float: left;
    background: #1b232c;
    width: 260px;
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 1000px;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: -1000px;
    height: 300px;
}

.menu li{
    line-height: 36px;
    list-style-image: url('../img/menuIconA.png');
}
.menu li:hover{
    list-style-image: url('../img/menuIconB.png');
}

.content{
    background: #2E3B4B;
    margin-left:300px;
    margin-bottom: -1000px;
    padding-top:10px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1000px;
}

.content form{
}

.content label {
    text-align: right;
    margin-right: 10px;
    width: 200px;
    float: left;
}

.submit{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 100px;
}

.submit input{
    margin-right: 30px;
    background-color: #354457;
    color: #FFF;
    font-size: 14px;
    border-right-color: #1b232c;
    border-left-color: #1b232c;
    border-bottom-color: #1b232c;
    border-top-color: #1b232c;
}
.submit input:hover{
    background-color: #5d7796;
}

.footer{
    clear:both;
    background-color:#252F3C;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 10px;
}

.footer h1{
    font-size: 12px;
}
